@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --tomato: hsl(4, 100%, 67%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
  }
}

body {
  color: hsl(235, 18%, 26%);
  background: hsl(234, 29%, 20%);
  @apply h-[100vh] flex justify-center items-center;
}
